
 
  @media screen and (max-width: 980px) {
    h3{
      color:fuchsia;
    }
    p {
      font-size:18;
      color:green;
      margin-top:-5px;  
     }
    }
    @media screen and (max-width: 768px){ 
      h3{
        color:fuchsia;
        font-size:10;
      }
      p {
        font-size:16px;
        line-height:2vh;
        color:red; 
        margin-top:-5px;
        
      }
    }
    @media only screen and (max-width: 640px) {
      p {
          font-size: 10px;
          line-height: 2vh;
          margin-top:-5px;
          color:blue;
          Header:static;
      }
  }